/*======================================
  advancedFeatures
======================================*/

.advancedFeatures {
  padding-top: 106px;
  background-color: #F9F9F9;
  span {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 9px;
    color: #008CFF;
    display: block;
    text-align: center;
  }
  h2 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: $color-navy;
    display: block;
    padding-bottom: 18px;
    text-align: center;
  }
  p {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #59608B;
    padding-bottom: 30px;
    text-align: center;
  }
  .grid {
    padding-top: 21px;
    padding-bottom: 90px;
    @include columns( $quant: 31.6% 31.6% 31.6%, $gutter: 2.6%, $align: stretch, $template: '');
    grid-row-gap: 0;
    border-bottom: 1px solid #E0E0E0;
    .item {
      padding: 32px 32px 33px 32px;
      background-color: $color-white;
      border-radius: 16px;
      margin-bottom: 15px;
      .icons {
        width: 40px;
        height: 40px;
        background-color: #FFF2BD;
        border-radius: 50%;
        padding: 10px;
        &.small {
          padding: 5px;
        }
        .clearFill {
          fill: transparent;
        }
        .icon {
          width: 100%;
          height: 100%;
        }
      }
      h3 {
        font-family: $font-main;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 160%;
        color: $color-navy;
        padding: 15px 0 8px 0;
      }
      p {
        font-family: $font-main;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 162%;
        color: #59608B;
        text-align: left;
        padding: 0;
      }
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  .advancedFeatures {
    padding-top: get-vw-lg(106px);
    span {
      font-size: get-vw-lg(13px);
      padding-bottom: get-vw-lg(9px);
    }
    h2 {
      font-size: get-vw-lg(32px);
      padding-bottom: get-vw-lg(18px);
    }
    p {
      font-size: get-vw-lg(16px);
      padding-bottom: get-vw-lg(30px);
    }
    .grid {
      padding-top: get-vw-lg(21px);
      padding-bottom: get-vw-lg(90px);
      .item {
        padding: get-vw-lg(32px) get-vw-lg(32px) get-vw-lg(33px) get-vw-lg(32px);
        border-radius: get-vw-lg(16px);
        margin-bottom: get-vw-lg(15px);
        .icons {
          width: get-vw-lg(40px);
          height: get-vw-lg(40px);
          padding: get-vw-lg(10px);
          &.small {
            padding: get-vw-lg(5px);
          }
        }
        h3 {
          font-size: get-vw-lg(20px);
          padding: get-vw-lg(15px) 0 get-vw-lg(8px) 0;
        }
        p {
          font-size: get-vw-lg(16px);
        }
      }
    }
  }
}

@include breakpoint2($min:xs, $max:sm) {
  .advancedFeatures {
    padding-top: get-vw-sm(106px);
    span {
      font-size: get-vw-sm(13px);
      padding-bottom: get-vw-sm(9px);
    }
    h2 {
      font-size: get-vw-sm(32px);
      padding-bottom: get-vw-sm(18px);
    }
    p {
      font-size: get-vw-sm(16px);
      padding-bottom: get-vw-sm(30px);
    }
    .grid {
      @include columns( $quant: 49% 49%, $gutter: 0 2%, $align: stretch, $template: '');
      padding-top: get-vw-sm(21px);
      padding-bottom: get-vw-sm(90px);
      .item {
        padding: get-vw-sm(32px) get-vw-sm(32px) get-vw-sm(33px) get-vw-sm(32px);
        border-radius: get-vw-sm(16px);
        margin-bottom: get-vw-sm(15px);
        .icons {
          width: get-vw-sm(40px);
          height: get-vw-sm(40px);
          padding: get-vw-sm(10px);
          &.small {
            padding: get-vw-sm(5px);
          }
        }
        h3 {
          font-size: get-vw-sm(20px);
          padding: get-vw-sm(15px) 0 get-vw-sm(8px) 0;
        }
        p {
          font-size: get-vw-sm(16px);
        }
      }
    }
  }
}

@include breakpoint2($min:'', $max:xs) {
  .advancedFeatures {
    padding-top: get-vw-xs(106px);
    span {
      font-size: get-vw-xs(13px);
      padding-bottom: get-vw-xs(9px);
    }
    h2 {
      font-size: get-vw-xs(32px);
      padding-bottom: get-vw-xs(18px);
    }
    p {
      font-size: get-vw-xs(16px);
      padding-bottom: get-vw-xs(30px);
    }
    .grid {
      @include columns( $quant: 100%, $gutter: 0, $align: stretch, $template: '');
      padding-top: get-vw-xs(21px);
      padding-bottom: get-vw-xs(90px);
      .item {
        padding: get-vw-xs(32px) get-vw-xs(32px) get-vw-xs(33px) get-vw-xs(32px);
        border-radius: get-vw-xs(16px);
        margin-bottom: get-vw-xs(15px);
        .icons {
          width: get-vw-xs(40px);
          height: get-vw-xs(40px);
          padding: get-vw-xs(10px);
          &.small {
            padding: get-vw-xs(5px);
          }
        }
        h3 {
          font-size: get-vw-xs(20px);
          padding: get-vw-xs(15px) 0 get-vw-xs(8px) 0;
        }
        p {
          font-size: get-vw-xs(16px);
        }
      }
    }
  }
}