/*======================================
  Sliders
======================================*/

@keyframes bounceXprev {
  0% {
    transform: translateX(0px) rotate(180deg);
  }
  5% {
    transform: translateX(-5px) rotate(180deg);
  }
  10% {
    transform: translateX(0px) rotate(180deg);
  }
  15% {
    transform: translateX(-5px) rotate(180deg);
  }
  20% {
    transform: translateX(0px) rotate(180deg);
  }
}

@keyframes bounceXnext {
  0% {
    transform: translateX(0px);
  }
  5% {
    transform: translateX(5px);
  }
  10% {
    transform: translateX(0px);
  }
  15% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(0px);
  }
}

.clients {
  padding-top: 84px;
  padding-bottom: 120px;
  overflow: hidden;
  position: relative;
  &.blue {
    background: #002d54;
  }
  &.grey {
    background-color: #f9f9f9;
  }
  &::before {
    content: "";
    width: 10%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 0) 100%
    );
    display: block;
    z-index: 10;
  }
  &::after {
    content: "";
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 30%,
      rgba(255, 255, 255, 1) 100%
    );
    display: block;
    z-index: 10;
  }
  .box-google {
    @include columns($quant: 57px auto, $gutter: 0px, $align: start, $template: "logo text");
    .logo {
      grid-area: logo;
    }
    .text {
      grid-area: text;
      .text1 {
        text-align: left;
        display: block;
        padding: 3px 0 6px 0;
        color: #111111;
      }
      .text2 {
        text-align: left;
        display: block;
        padding: 6px 0 0 0;
        font-size: 11px;
        color: #737373;
      }
      .google {
        display: flex;
        align-items: center;
        span {
          padding: 0 6px 0 0;
          color: #ff7400;
        }
        .star {
          max-width: 17px;
          margin-left: 5px;
        }
      }
    }
  }
  span,
  .subtitle {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
    color: #008cff;
    display: block;
    text-align: center;
  }
  h2 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: $color-navy;
    display: block;
    padding-bottom: 31px;
    text-align: center;
  }
  p {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #59608b;
    padding-bottom: 52px;
    text-align: center;
    margin-top: -13px;
  }
  .grid-logos {
    padding-top: 30px;
    padding-bottom: 60px;
    @include columns($quant: repeat(5, 1fr), $gutter: 40px, $align: center, $template: "");
    .item {
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .testimony-chat {
    background-color: #f5f9fd;
    border-radius: 20px;
    padding: 70px 60px;
    .box {
      .person {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 35px;
        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .info {
          strong {
            font-family: "Inter";
            font-size: 18px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: #371a45;
            padding: 0 0 5px 0;
            display: block;
          }
          span {
            font-family: "Inter";
            font-size: 12px;
            font-weight: 700;
            line-height: 12px;
            letter-spacing: 0em;
            text-align: left;
            color: #008cff;
            padding: 0;
          }
        }
      }
      p {
        margin-top: 0;
        text-align: left;
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        //text-align: justify;
      }
      .blockGoogle {
        float: none;
        margin: 0;
      }
    }
  }
  .slick-arrow {
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translate(0, -35%);
    width: 33px;
    height: 40px;
    border: none;
    z-index: 10;
    .icon {
      fill: transparent;
      width: 100%;
      height: 100%;
    }
    &.slick-prev {
      left: 0;
      .icon {
        transform: rotate(180deg);
      }
      &:hover .icon {
        animation: bounceXprev 3000ms infinite linear;
      }
    }
    &.slick-next {
      right: 0;
      &:hover .icon {
        animation: bounceXnext 3000ms infinite linear;
      }
    }
  }
  .clientSlide {
    padding: 0 39px 0 33px;
    margin-bottom: 53px;
    &.border-bottom {
      // border-bottom: 1px solid rgba($color-white, 0.3);
      margin-bottom: 39px;
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba($color-white, 0.3);
        display: block;
        position: absolute;
        bottom: -39px;
        left: 0;
      }
    }
    .item {
      padding: 0 13px;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      &.gray {
        img {
          filter: grayscale(1);
          @include animate($time: 0.3s);
        }
        &:hover {
          img {
            filter: grayscale(0);
          }
        }
      }
      &.white {
        img {
          filter: brightness(0) invert(1);
          @include animate($time: 0.3s);
        }
        &:hover {
          img {
            filter: brightness(1) invert(0);
          }
        }
      }
    }
  }
  .testimonySlide {
    margin: 0 -14px;
    .item {
      padding: 0 14px;
      .box {
        border: 1px solid #e0e0e0;
        border-radius: 16px;
        padding: 32px 31px 24px 31px;
        .icon {
          width: 38px;
          height: 32px;
          fill: #8dd7ff;
          margin-bottom: 23px;
        }
        p {
          font-family: $font-main;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 175%;
          color: #59608b;
          text-align: left;
          margin-top: 0;
          padding-bottom: 0px;
        }
        .person {
          padding: 30px 0 0 0;
          display: grid;
          grid-template-columns: auto;
          gap: 15px;
          .avatar {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            overflow: hidden;
          }
          .info {
            strong {
              display: block;
              font-family: $font-main;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 100%;
              color: $color-navy;
              padding: 5px 0 11px 0;
            }
            span {
              display: block;
              font-family: $font-main;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 100%;
              text-transform: uppercase;
              color: #008cff;
              text-align: left;
            }
          }
        }
      }
    }
    .slick-arrow {
      &.slick-prev {
        left: -17px;
        .icon {
          transform: rotate(180deg);
        }
        &:hover .icon {
          animation: bounceXprev 3000ms infinite linear;
        }
      }
      &.slick-next {
        right: -17px;
        &:hover .icon {
          animation: bounceXnext 3000ms infinite linear;
        }
      }
    }
  }
  .pagSlide {
    display: none;
    position: relative;
    width: 176px;
    float: right;
    margin: 75px -6px 0 0;
    .pagingInfo {
      font-family: $font-main;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 143%;
      color: $color-navy;
      display: block;
      text-align: center;
    }
    .slick-arrow {
      transform: translate(0, -50%);
      width: 28px;
      height: 40px;
    }
  }
  .blockGoogle {
    width: 100%;
    float: left;
    margin: 65px 0 0 0;
    @include columns($quant: 237px auto, $gutter: 0, $align: center, $template: "");
    padding: 0 0 0 4px;
    .item {
      img {
        width: 100%;
        max-width: 203px;
        height: auto;
      }
      &.image {
        padding-right: 33px;
        border-right: 1px solid #e0e0e0;
      }
      p {
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #59608b;
        margin: 0;
        padding: 0 0 9px 52px;
        text-align: left;
      }
    }
  }
}

@include breakpoint2($min: sm, $max: lg) {
  .clients {
    padding-top: get-vw-lg(84px);
    padding-bottom: get-vw-lg(120px);
    .box-google {
      @include columns($quant: get-vw-lg(57px) auto, $gutter: 0, $align: start, $template: "logo text");
      .text {
        .text1 {
          padding: get-vw-lg(3px) 0 get-vw-lg(6px) 0;
        }
        .text2 {
          padding: get-vw-lg(6px) 0 0 0;
          font-size: get-vw-lg(11px);
        }
        .google {
          span {
            padding: 0 get-vw-lg(6px) 0 0;
          }
          .star {
            max-width: get-vw-lg(17px);
            margin-left: get-vw-lg(5px);
          }
        }
      }
    }
    span,
    .subtitle {
      font-size: get-vw-lg(13px);
      padding-bottom: get-vw-lg(10px);
    }
    h2 {
      font-size: get-vw-lg(32px);
      padding-bottom: get-vw-lg(31px);
    }
    p {
      font-size: get-vw-lg(16px);
      padding-bottom: get-vw-lg(52px);
      margin-top: get-vw-lg(-13px);
    }
    .grid-logos {
      padding-top: get-vw-lg(30px);
      padding-bottom: get-vw-lg(60px);
      @include columns($quant: repeat(5, 1fr), $gutter: get-vw-lg(40px), $align: center, $template: "");
    }
    .testimony-chat {
      border-radius: get-vw-lg(20px);
      padding: get-vw-lg(70px) get-vw-lg(60px);
      .box {
        .person {
          gap: get-vw-lg(15px);
          padding-bottom: get-vw-lg(35px);
          .avatar {
            width: get-vw-lg(48px);
            height: get-vw-lg(48px);
          }
          .info {
            strong {
              font-size: get-vw-lg(18px);
              line-height: get-vw-lg(18px);
              padding: 0 0 get-vw-lg(5px) 0;
            }
            span {
              font-size: get-vw-lg(12px);
              line-height: get-vw-lg(12px);
            }
          }
        }
        p {
          font-size: get-vw-lg(18px);
          line-height: get-vw-lg(28px);
        }
      }
    }
    .slick-arrow {
      width: get-vw-lg(33px);
      height: get-vw-lg(40px);
    }
    .clientSlide {
      padding: 0 get-vw-lg(39px) 0 get-vw-lg(33px);
      margin-bottom: get-vw-lg(53px);
      &.border-bottom {
        margin-bottom: get-vw-lg(39px);
        &:after {
          bottom: get-vw-lg(-39px);
        }
      }
      .item {
        padding: 0 get-vw-lg(13px);
      }
    }
    .testimonySlide {
      margin: 0 get-vw-lg(-14px);
      .item {
        padding: 0 get-vw-lg(14px);
        .box {
          border-radius: get-vw-lg(16px);
          padding: get-vw-lg(32px) get-vw-lg(31px) get-vw-lg(24px) get-vw-lg(31px);
          .icon {
            width: get-vw-lg(38px);
            height: get-vw-lg(32px);
            margin-bottom: get-vw-lg(23px);
          }
          p {
            font-size: get-vw-lg(16px);
          }
          .person {
            padding: get-vw-lg(30px) 0 0 0;
            gap: get-vw-lg(15px);
            .avatar {
              width: get-vw-lg(48px);
              height: get-vw-lg(48px);
            }
            .info {
              strong {
                font-size: get-vw-lg(18px);
                padding: get-vw-lg(5px) 0 get-vw-lg(11px) 0;
              }
              span {
                font-size: get-vw-lg(12px);
              }
            }
          }
        }
      }
      .slick-arrow {
        &.slick-prev {
          left: get-vw-lg(-17px);
        }
        &.slick-next {
          right: get-vw-lg(-17px);
        }
      }
    }
    .pagSlide {
      width: get-vw-lg(176px);
      margin: get-vw-lg(75px) get-vw-lg(-6px) 0 0;
      .pagingInfo {
        font-size: get-vw-lg(14px);
      }
      .slick-arrow {
        width: get-vw-lg(28px);
        height: get-vw-lg(40px);
      }
    }
    .blockGoogle {
      margin: get-vw-lg(65px) 0 0 0;
      @include columns($quant: get-vw-lg(237px) auto, $gutter: 0, $align: center, $template: "");
      padding: 0 0 0 get-vw-lg(4px);
      .item {
        img {
          max-width: get-vw-lg(203px);
        }
        &.image {
          padding-right: get-vw-lg(33px);
        }
        p {
          font-size: get-vw-lg(14px);
          padding: 0 0 get-vw-lg(9px) get-vw-lg(52px);
        }
      }
    }
  }
}

@include breakpoint2($min: xs, $max: sm) {
  .clients {
    padding-top: get-vw-sm(84px);
    padding-bottom: get-vw-sm(120px);
    .box-google {
      @include columns($quant: get-vw-sm(57px) auto, $gutter: 0, $align: start, $template: "logo text");
      .text {
        .text1 {
          padding: get-vw-sm(3px) 0 get-vw-sm(6px) 0;
        }
        .text2 {
          padding: get-vw-sm(6px) 0 0 0;
          // font-size: get-vw-sm(11px);
        }
        .google {
          span {
            padding: 0 get-vw-sm(6px) 0 0;
          }
          .star {
            max-width: get-vw-sm(17px);
            margin-left: get-vw-sm(5px);
          }
        }
      }
    }
    span,
    .subtitle {
      // font-size: get-vw-sm(13px);
      padding-bottom: get-vw-sm(10px);
    }
    h2 {
      // font-size: get-vw-sm(32px);
      padding-bottom: get-vw-sm(31px);
    }
    p {
      // font-size: get-vw-sm(16px);
      padding-bottom: get-vw-sm(52px);
      margin-top: get-vw-sm(-13px);
    }
    .grid-logos {
      padding-top: get-vw-sm(30px);
      padding-bottom: get-vw-sm(60px);
      @include columns($quant: repeat(3, 1fr), $gutter: get-vw-sm(40px), $align: center, $template: "");
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .testimony-chat {
      border-radius: get-vw-sm(20px);
      padding: get-vw-sm(70px) get-vw-sm(60px);
      .box {
        .person {
          gap: get-vw-sm(15px);
          padding-bottom: get-vw-sm(35px);
          .avatar {
            // width: get-vw-sm(48px);
            // height: get-vw-sm(48px);
          }
          .info {
            strong {
              // font-size: get-vw-sm(18px);
              // line-height: get-vw-sm(18px);
              padding: 0 0 get-vw-sm(5px) 0;
            }
            span {
              // font-size: get-vw-sm(12px);
              // line-height: get-vw-sm(12px);
            }
          }
        }
        p {
          // font-size: get-vw-sm(18px);
          // line-height: get-vw-sm(28px);
        }
      }
    }
    .slick-arrow {
      width: get-vw-sm(33px);
      height: get-vw-sm(40px);
    }
    .clientSlide {
      padding: 0 get-vw-sm(39px) 0 get-vw-sm(33px);
      margin-bottom: get-vw-sm(53px);
      &.border-bottom {
        margin-bottom: get-vw-sm(39px);
        &:after {
          bottom: get-vw-sm(-39px);
        }
      }
      .item {
        padding: 0 get-vw-sm(13px);
      }
    }
    .testimonySlide {
      margin: 0 get-vw-sm(-14px);
      .item {
        padding: 0 get-vw-sm(14px);
        .box {
          border-radius: get-vw-sm(16px);
          padding: get-vw-sm(32px) get-vw-sm(31px) get-vw-sm(24px) get-vw-sm(31px);
          .icon {
            // width: get-vw-sm(38px);
            // height: get-vw-sm(32px);
            margin-bottom: get-vw-sm(23px);
          }
          p {
            // font-size: get-vw-sm(16px);
          }
          .person {
            padding: get-vw-sm(30px) 0 0 0;
            gap: get-vw-sm(15px);
            .avatar {
              width: get-vw-sm(48px);
              height: get-vw-sm(48px);
            }
            .info {
              strong {
                // font-size: get-vw-sm(18px);
                padding: get-vw-sm(5px) 0 get-vw-sm(11px) 0;
              }
              span {
                // font-size: get-vw-sm(12px);
              }
            }
          }
        }
      }
      .slick-arrow {
        &.slick-prev {
          left: 0;
        }
        &.slick-next {
          right: 0;
        }
      }
    }
    .pagSlide {
      width: get-vw-sm(176px);
      margin: get-vw-sm(75px) get-vw-sm(-6px) 0 0;
      .pagingInfo {
        // font-size: get-vw-sm(14px);
      }
      .slick-arrow {
        width: get-vw-sm(28px);
        height: get-vw-sm(40px);
      }
    }
    .blockGoogle {
      margin: get-vw-sm(65px) 0 0 0;
      @include columns($quant: 1fr, $gutter: 15px, $align: center, $template: "");
      padding: 0 0 0 get-vw-sm(4px);
      .item {
        img {
          max-width: get-vw-sm(203px);
        }
        &.image {
          padding-right: get-vw-sm(33px);
          border: none;
        }
        p {
          // font-size: get-vw-sm(14px);
          padding: 0 0 get-vw-sm(9px) get-vw-sm(52px);
        }
      }
    }
  }
}

@include breakpoint2($min: "", $max: xs) {
  .clients {
    padding-top: get-vw-xs(84px);
    padding-bottom: get-vw-xs(120px);
    .box-google {
      @include columns($quant: get-vw-xs(57px) auto, $gutter: 0, $align: start, $template: "logo text");
      .text {
        .text1 {
          padding: get-vw-xs(3px) 0 get-vw-xs(6px) 0;
        }
        .text2 {
          padding: get-vw-xs(6px) 0 0 0;
          // font-size: get-vw-xs(11px);
        }
        .google {
          span {
            padding: 0 get-vw-xs(6px) 0 0;
          }
          .star {
            max-width: get-vw-xs(17px);
            margin-left: get-vw-xs(5px);
          }
        }
      }
    }
    span,
    .subtitle {
      // font-size: get-vw-xs(13px);
      padding-bottom: get-vw-xs(10px);
    }
    h2 {
      // font-size: get-vw-xs(32px);
      padding-bottom: get-vw-xs(31px);
    }
    p {
      // font-size: get-vw-xs(16px);
      padding-bottom: get-vw-xs(52px);
      margin-top: get-vw-xs(-13px);
    }
    .grid-logos {
      padding-top: get-vw-xs(30px);
      padding-bottom: get-vw-xs(60px);
      @include columns($quant: repeat(2, 1fr), $gutter: get-vw-xs(40px), $align: center, $template: "");
      .item {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .testimony-chat {
      border-radius: get-vw-xs(20px);
      padding: get-vw-xs(30px);
      .box {
        .person {
          gap: get-vw-xs(15px);
          padding-bottom: get-vw-xs(35px);
          .avatar {
            // width: get-vw-xs(48px);
            // height: get-vw-xs(48px);
          }
          .info {
            strong {
              // font-size: get-vw-xs(18px);
              // line-height: get-vw-xs(18px);
              padding: 0 0 get-vw-xs(5px) 0;
            }
            span {
              // font-size: get-vw-xs(12px);
              // line-height: get-vw-xs(12px);
            }
          }
        }
        p {
          // font-size: get-vw-xs(18px);
          // line-height: get-vw-xs(28px);
        }
      }
    }
    .slick-arrow {
      width: get-vw-xs(33px);
      height: get-vw-xs(40px);
    }
    .clientSlide {
      padding: 0 get-vw-xs(39px) 0 get-vw-xs(33px);
      margin-bottom: get-vw-xs(53px);
      &.border-bottom {
        margin-bottom: get-vw-xs(39px);
        &:after {
          bottom: get-vw-xs(-39px);
        }
      }
      .item {
        padding: 0 get-vw-xs(13px);
      }
    }
    .testimonySlide {
      margin: 0 get-vw-xs(-14px);
      .item {
        padding: 0 get-vw-xs(14px);
        .box {
          border-radius: get-vw-xs(16px);
          padding: get-vw-xs(32px) get-vw-xs(31px) get-vw-xs(24px) get-vw-xs(31px);
          .icon {
            // width: get-vw-xs(38px);
            // height: get-vw-xs(32px);
            margin-bottom: get-vw-xs(23px);
          }
          p {
            // font-size: get-vw-xs(16px);
          }
          .person {
            padding: get-vw-xs(30px) 0 0 0;
            gap: get-vw-xs(15px);
            .avatar {
              width: get-vw-xs(48px);
              height: get-vw-xs(48px);
            }
            .info {
              strong {
                // font-size: get-vw-xs(18px);
                padding: get-vw-xs(5px) 0 get-vw-xs(11px) 0;
              }
              span {
                // font-size: get-vw-xs(12px);
              }
            }
          }
        }
      }
      .slick-arrow {
        &.slick-prev {
          left: 0;
        }
        &.slick-next {
          right: 0;
        }
      }
    }
    .pagSlide {
      width: get-vw-xs(176px);
      margin: get-vw-xs(75px) get-vw-xs(-6px) 0 0;
      .pagingInfo {
        // font-size: get-vw-xs(14px);
      }
      .slick-arrow {
        width: get-vw-xs(28px);
        height: get-vw-xs(40px);
      }
    }
    .blockGoogle {
      margin: get-vw-xs(65px) 0 0 0;
      @include columns($quant: 1fr, $gutter: 15px, $align: center, $template: "");
      padding: 0 0 0 get-vw-xs(4px);
      .item {
        img {
          max-width: get-vw-xs(203px);
        }
        &.image {
          padding-right: get-vw-xs(33px);
          border: none;
        }
        p {
          // font-size: get-vw-xs(14px);
          padding: 0 0 get-vw-xs(9px) get-vw-xs(52px);
        }
      }
    }
  }
}
