/*======================================
  Dados
======================================*/

.dados {
  background-color: #002D54;
  padding: 81px 0 0 0;
  .grid {
    @include columns( $quant: repeat(4, 1fr), $gutter: 85px, $align: start, $template: '');
    .item {
      position: relative;
      &::after {
        content: '';
        width: 1px;
        height: 126px;
        background-color: $color-white;
        position: absolute;
        top: 0;
        right: -40px;
        opacity: 0.2;
      }
      &:nth-child(4) {
        &::after {
          display: none;
        }
      }
      h2 {
        font-family: $font-main;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 153%;
        letter-spacing: 0.12em;
        color: $color-white;
        padding: 0 0 15px 0;
        strong {
          font-weight: 900;
          font-size: 61px;
          line-height: 137%;
          text-transform: uppercase;
          color: $color-yellow;
          display: block;
        }
      }
      p {
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #969ECC;
      }
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  .dados {
    padding: get-vw-lg(81px) 0 0 0;
    .grid {
      @include columns( $quant: repeat(4, 1fr), $gutter: get-vw-lg(85px), $align: start, $template: '');
      .item {
        &::after {
          height: get-vw-lg(126px);
          right: get-vw-lg(-40px);
        }
        h2 {
          font-size: get-vw-lg(15px);
          padding: 0 0 get-vw-lg(15px) 0;
          strong {
            font-size: get-vw-lg(61px);
          }
        }
        p {
          font-size: get-vw-lg(16px);
        }
      }
    }
  }
}

@include breakpoint2($min:xs, $max:sm) {
  .dados {
    padding: get-vw-sm(81px) 0 0 0;
    overflow: hidden;
    .grid {
      @include columns( $quant: repeat(2, 1fr), $gutter: get-vw-sm(85px), $align: start, $template: '');
      .item {
        &::after {
          height: get-vw-sm(126px);
          right: get-vw-sm(-40px);
        }
        h2 {
          font-size: get-vw-sm(15px);
          padding: 0 0 get-vw-sm(15px) 0;
          strong {
            font-size: get-vw-sm(61px);
          }
        }
        p {
          font-size: get-vw-sm(16px);
        }
      }
    }
  }
}

@include breakpoint2($min:'', $max:xs) {
  .dados {
    padding: get-vw-xs(81px) 0 0 0;
    overflow: hidden;
    .grid {
      @include columns( $quant: repeat(1, 1fr), $gutter: get-vw-xs(85px) 0, $align: start, $template: '');
      .item {
        &::after {
          height: get-vw-xs(126px);
          right: get-vw-xs(-40px);
        }
        h2 {
          font-size: get-vw-xs(15px);
          padding: 0 0 get-vw-xs(15px) 0;
          strong {
            font-size: get-vw-xs(61px);
          }
        }
        p {
          font-size: get-vw-xs(16px);
        }
      }
    }
  }
}