/*======================================
  dontJustWebsite
======================================*/

.dontJustWebsite {
  padding-top: 279px;
  position: relative;
  background-color: #002D54;
  .before {
    content: '';
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .after {
    content: '';
    width: 50%;
    height: 305px;
    position: absolute;
    bottom: -65px;
    left: 0;
  }
  .moon {
    content: '';
    width: 96px;
    height: 75px;
    position: absolute;
    bottom: 87px;
    right: -10px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .container {
    padding-bottom: 77px;
  }
  .grid {
    padding-bottom: 110px;
    @include columns( $quant: 38% 40%, $gutter: 22%, $align: start, $template: 'left right');
    .left {
      grid-area: left;
      h3 {
        font-family: $font-main;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 133%;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      .btnBudgets {
        margin-top: 31px;
        margin-bottom: 42px;
        padding: 20px 41px;
      }
      p {
        font-family: $font-main;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 175%;
        color: #FFFFFF;
        margin-bottom: 28px;
      }
    }
    .right {
      grid-area: right;
      span {
        font-family: $font-main;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 120%;
        letter-spacing: 0.05em;
        padding-bottom: 9px;
        color: #008CFF;
        display: block;
      }
      h2 {
        font-family: $font-main;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 119%;
        text-transform: uppercase;
        color: #FFF;
        display: block;
        padding-bottom: 79px;
      }
      ul {
        li {
          font-family: $font-main;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 175%;
          color: #FFFFFF;
          padding: 8px 15px;
          position: relative;
          &:before {
            content: '.';
            color: #FFF;
            font-size: 33px;
            position: absolute;
            top: 0;
            left: -2px;
          }
        }
      }
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  .dontJustWebsite {
    padding-top: get-vw-lg(279px);
    .before {
      height: get-vw-lg(220px);
    }
    .after {
      height: get-vw-lg(305px);
      bottom: get-vw-lg(-65px);
    }
    .moon {
      width: get-vw-lg(96px);
      height: get-vw-lg(75px);
      bottom: get-vw-lg(87px);
      right: get-vw-lg(-10px);
    }
    .container {
      padding-bottom: get-vw-lg(77px);
    }
    .grid {
      padding-bottom: get-vw-lg(110px);
      .left {
        h3 {
          font-size: get-vw-lg(24px);
        }
        .btnBudgets {
          margin-top: get-vw-lg(31px);
          margin-bottom: get-vw-lg(42px);
          padding: get-vw-lg(20px) get-vw-lg(41px);
        }
        p {
          font-size: get-vw-lg(16px);
          margin-bottom: get-vw-lg(28px);
        }
      }
      .right {
        span {
          font-size: get-vw-lg(13px);
          padding-bottom: get-vw-lg(9px);
        }
        h2 {
          font-size: get-vw-lg(32px);
          padding-bottom: get-vw-lg(79px);
        }
        ul {
          li {
            font-size: get-vw-lg(16px);
            padding: get-vw-lg(8px) get-vw-lg(15px);
            &:before {
              font-size: get-vw-lg(33px);
              left: get-vw-lg(-2px);
            }
          }
        }
      }
    }
  }
}

@include breakpoint2($min:xs, $max:sm) {
  .dontJustWebsite {
    padding-top: get-vw-sm(179px);
    .before {
      height: get-vw-sm(220px);
    }
    .after {
      height: get-vw-sm(305px);
      bottom: get-vw-sm(-65px);
    }
    .moon {
      width: get-vw-sm(96px);
      height: get-vw-sm(75px);
      bottom: get-vw-sm(87px);
      right: get-vw-sm(-10px);
    }
    .container {
      padding-bottom: get-vw-sm(77px);
    }
    .grid {
      padding-bottom: get-vw-sm(210px);
      @include columns( $quant: 100%, $gutter: 0%, $align: start, $template: 'left' 'right');
      .left {
        margin-bottom: get-vw-sm(42px);
        h3 {
          font-size: get-vw-sm(24px);
        }
        .btnBudgets {
          margin-top: get-vw-sm(31px);
          margin-bottom: get-vw-sm(42px);
          padding: get-vw-sm(20px) get-vw-sm(41px);
        }
        p {
          font-size: get-vw-sm(16px);
          margin-bottom: get-vw-sm(28px);
        }
      }
      .right {
        span {
          font-size: get-vw-sm(13px);
          padding-bottom: get-vw-sm(9px);
        }
        h2 {
          font-size: get-vw-sm(32px);
          padding-bottom: get-vw-sm(29px);
        }
        ul {
          li {
            font-size: get-vw-sm(16px);
            padding: get-vw-sm(8px) get-vw-sm(15px);
            &:before {
              font-size: get-vw-sm(33px);
              left: get-vw-sm(-2px);
            }
          }
        }
      }
    }
  }
}

@include breakpoint2($min:'', $max:xs) {
  .dontJustWebsite {
    padding-top: get-vw-xs(179px);
    .before {
      height: get-vw-xs(220px);
    }
    .after {
      height: get-vw-xs(305px);
      bottom: get-vw-xs(-65px);
    }
    .moon {
      width: get-vw-xs(96px);
      height: get-vw-xs(75px);
      bottom: get-vw-xs(87px);
      right: get-vw-xs(-10px);
    }
    .container {
      padding-bottom: get-vw-xs(77px);
    }
    .grid {
      padding-bottom: get-vw-xs(210px);
      @include columns( $quant: 100%, $gutter: 0%, $align: start, $template: 'left' 'right');
      .left {
        margin-bottom: get-vw-xs(42px);
        h3 {
          font-size: get-vw-xs(24px);
        }
        .btnBudgets {
          margin-top: get-vw-xs(31px);
          margin-bottom: get-vw-xs(42px);
          padding: get-vw-xs(20px) get-vw-xs(41px);
        }
        p {
          font-size: get-vw-xs(16px);
          margin-bottom: get-vw-xs(28px);
        }
      }
      .right {
        span {
          font-size: get-vw-xs(13px);
          padding-bottom: get-vw-xs(9px);
        }
        h2 {
          font-size: get-vw-xs(32px);
          padding-bottom: get-vw-xs(29px);
        }
        ul {
          li {
            font-size: get-vw-xs(16px);
            padding: get-vw-xs(8px) get-vw-xs(15px);
            &:before {
              font-size: get-vw-xs(33px);
              left: get-vw-xs(-2px);
            }
          }
        }
      }
    }
  }
}