/*======================================
  Hero image
======================================*/

.hero-image {
  overflow: hidden;
  padding: 110px 0 80px 0;
  .grid {
    @include columns($quant: 42% 52%, $gutter: 6%, $align: center, $template: "text image");
    .text {
      grid-area: text;
      padding-top: 27px;
      padding-bottom: 50px;
      .tag {
        margin-bottom: 24px;
        @include flex($align: center, $justify: start, $gap: 4px);
        @include font($family: $font-main, $size: 13px, $weight: 600, $height: 120%, $align: left, $color: #008cff);
        .subtitle {
          display: inline;
          @include font($family: $font-main, $size: 13px, $weight: 600, $height: 120%, $align: left, $color: #008cff);
          font-family: $font-main;
          color: #008cff;
          font-weight: 600;
          text-transform: uppercase;
        }
        span.google {
          padding: 3px 4px 2px 4px;
          color: #ff7201;
        }
        img {
          &.star {
            margin-top: -3px;
          }
        }
      }
      .title {
        @include font($family: $font-main, $size: 48px, $weight: 900, $height: 121%, $align: left, $color: $color-navy);
        text-transform: uppercase;
        margin-bottom: 17px;
      }
      p {
        @include font($family: $font-main, $size: 18px, $weight: normal, $height: 156%, $align: left, $color: #59608b);
        a {
          display: inline;
          clear: inherit;
          float: inherit;
        }
      }
      .btnPost,
      .btnBudgets {
        @include animate($time: 0.3s);
        font-family: $font-main;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: $color-white;
        background-color: $color-green;
        border: 2px solid $color-green;
        padding: 21px 65px 21px 69px;
        margin-top: 23px;
        border-radius: 60px;
        display: inline-block;
        overflow: hidden;
        .icon {
          width: 13px;
          height: 15px;
          margin-right: 10px;
          fill: $color-white;
          @include inline-block($align: middle);
          @include animate($time: 0.3s);
        }
        &:hover {
          color: $color-green;
          background-color: transparent;
          .icon {
            transform: scale(1.5);
            fill: $color-green;
            animation: icon 0.3s cubic-bezier(0.17, 0.49, 0.96, 0.76) 1;
          }
        }
        &.blue {
          background-color: #265df0;
          border: 1px solid #265df0;
          &:hover {
            color: #265df0;
            background-color: transparent;
            .icon {
              transform: scale(1.5);
              fill: #265df0;
              animation: icon 0.3s cubic-bezier(0.17, 0.49, 0.96, 0.76) 1;
            }
          }
        }
      }
      .more {
        @include font($family: $font-main, $size: 12px, $weight: 500, $height: 233%, $align: left, $color: #59608b);
        letter-spacing: 0.2em;
        margin: 44px 0 0 7px;
        .icon {
          width: 13px;
          height: 16px;
          margin-right: 25px;
          fill: transparent;
          vertical-align: middle;
          display: inline-block;
          stroke: #323232;
        }
        &:hover {
          .icon {
            animation: bounce 300ms alternate infinite cubic-bezier(0.2, 0.65, 0.6, 1);
          }
        }
      }
    }
    .image {
      position: relative;
      grid-area: image;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  &.blue {
    background-color: #002d54;
    .grid {
      .text {
        .tag {
          color: #008cff;
          b {
            background: transparent;
          }
          &:before {
            display: none;
          }
        }
        .title,
        h2 {
          color: $color-white;
        }
        p {
          color: $color-white;
        }
      }
    }
  }
}

@include breakpoint2($min: sm, $max: lg) {
  .hero-image {
    padding: get-vw-lg(110px) 0 get-vw-lg(80px) 0;
    .grid {
      .text {
        padding-top: get-vw-lg(27px);
        padding-bottom: get-vw-lg(50px);
        .tag {
          margin-bottom: get-vw-lg(24px);
          @include flex($align: center, $justify: start, $gap: get-vw-lg(4px));
          @include font(
            $family: $font-main,
            $size: get-vw-lg(13px),
            $weight: 600,
            $height: 120%,
            $align: left,
            $color: #008cff
          );
          .subtitle {
            @include font(
              $family: $font-main,
              $size: get-vw-lg(13px),
              $weight: 600,
              $height: 120%,
              $align: left,
              $color: #008cff
            );
          }
          span.google {
            padding: get-vw-lg(3px) get-vw-lg(4px) get-vw-lg(2px) get-vw-lg(4px);
          }
          img {
            &.star {
              margin-top: get-vw-lg(-3px);
            }
          }
        }
        .title {
          @include font(
            $family: $font-main,
            $size: get-vw-lg(48px),
            $weight: 900,
            $height: 121%,
            $align: left,
            $color: $color-navy
          );
          margin-bottom: get-vw-lg(17px);
        }
        p {
          @include font(
            $family: $font-main,
            $size: get-vw-lg(18px),
            $weight: normal,
            $height: 156%,
            $align: left,
            $color: #59608b
          );
        }
        .btnPost,
        .btnBudgets {
          font-size: get-vw-lg(18px);
          border: get-vw-lg(2px) solid $color-green;
          padding: get-vw-lg(21px) get-vw-lg(65px) get-vw-lg(21px) get-vw-lg(69px);
          margin-top: get-vw-lg(23px);
          border-radius: get-vw-lg(60px);
          .icon {
            width: get-vw-lg(13px);
            height: get-vw-lg(15px);
            margin-right: get-vw-lg(10px);
          }
        }
      }
    }
  }
}
@include breakpoint2($min: xs, $max: sm) {
  .hero-image {
    padding: get-vw-sm(110px) 0 get-vw-sm(80px) 0;
    .grid {
      @include columns($quant: 100%, $gutter: 0, $align: center, $template: "text" "image");
      .text {
        padding-top: get-vw-sm(27px);
        padding-bottom: get-vw-sm(50px);
        .tag {
          margin-bottom: get-vw-sm(24px);
          @include flex($align: center, $justify: start, $gap: get-vw-sm(4px));
          @include font(
            $family: $font-main,
            $size: get-vw-sm(13px),
            $weight: 600,
            $height: 120%,
            $align: left,
            $color: #008cff
          );
          .subtitle {
            @include font(
              $family: $font-main,
              $size: get-vw-sm(13px),
              $weight: 600,
              $height: 120%,
              $align: left,
              $color: #008cff
            );
          }
          span.google {
            padding: get-vw-sm(3px) get-vw-sm(4px) get-vw-sm(2px) get-vw-sm(4px);
          }
          img {
            &.star {
              margin-top: get-vw-sm(-3px);
            }
          }
        }
        .title {
          @include font(
            $family: $font-main,
            $size: get-vw-sm(48px),
            $weight: 900,
            $height: 121%,
            $align: left,
            $color: $color-navy
          );
          margin-bottom: get-vw-sm(17px);
        }
        p {
          @include font(
            $family: $font-main,
            $size: get-vw-sm(18px),
            $weight: normal,
            $height: 156%,
            $align: left,
            $color: #59608b
          );
        }
        .btnPost,
        .btnBudgets {
          font-size: get-vw-sm(18px);
          border: get-vw-sm(2px) solid $color-green;
          padding: get-vw-sm(21px) get-vw-sm(65px) get-vw-sm(21px) get-vw-sm(69px);
          margin-top: get-vw-sm(23px);
          border-radius: get-vw-sm(60px);
          .icon {
            width: get-vw-sm(13px);
            height: get-vw-sm(15px);
            margin-right: get-vw-sm(10px);
          }
        }
      }
    }
  }
}
@include breakpoint2($min: "", $max: xs) {
  .hero-image {
    padding: get-vw-xs(110px) 0 get-vw-xs(80px) 0;
    .grid {
      @include columns($quant: 100%, $gutter: 0, $align: center, $template: "text" "image");
      .text {
        padding-top: get-vw-xs(27px);
        padding-bottom: get-vw-xs(50px);
        .tag {
          margin-bottom: get-vw-xs(24px);
          @include flex($align: center, $justify: start, $gap: get-vw-xs(4px));
          @include font(
            $family: $font-main,
            $size: get-vw-xs(13px),
            $weight: 600,
            $height: 120%,
            $align: left,
            $color: #008cff
          );
          .subtitle {
            @include font(
              $family: $font-main,
              $size: get-vw-xs(13px),
              $weight: 600,
              $height: 120%,
              $align: left,
              $color: #008cff
            );
          }
          span.google {
            padding: get-vw-xs(3px) get-vw-xs(4px) get-vw-xs(2px) get-vw-xs(4px);
          }
          img {
            &.star {
              margin-top: get-vw-xs(-3px);
            }
          }
        }
        .title {
          @include font(
            $family: $font-main,
            $size: get-vw-xs(48px),
            $weight: 900,
            $height: 121%,
            $align: left,
            $color: $color-navy
          );
          margin-bottom: get-vw-xs(17px);
        }
        p {
          @include font(
            $family: $font-main,
            $size: get-vw-xs(18px),
            $weight: normal,
            $height: 156%,
            $align: left,
            $color: #59608b
          );
        }
        .btnPost,
        .btnBudgets {
          font-size: get-vw-xs(18px);
          border: get-vw-xs(2px) solid $color-green;
          padding: get-vw-xs(21px) get-vw-xs(65px) get-vw-xs(21px) get-vw-xs(69px);
          margin-top: get-vw-xs(23px);
          border-radius: get-vw-xs(60px);
          .icon {
            width: get-vw-xs(13px);
            height: get-vw-xs(15px);
            margin-right: get-vw-xs(10px);
          }
        }
      }
    }
  }
}
