/*======================================
  advancedFeatures
======================================*/

.advancedFeatures {
  padding-top: 106px;
  padding-bottom: 90px;
  span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 9px;
    color: #008CFF;
    display: block;
    text-align: center;
  }
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: #371A45;
    display: block;
    padding-bottom: 18px;
    text-align: center;
  }
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #59608B;
    padding-bottom: 30px;
    text-align: center;
  }
  .grid {
    padding-top: 21px;
    @include columns( $quant: 31.6% 31.6% 31.6%, $gutter: 2.6%, $align: stretch, $template: '');
    grid-row-gap: 0;
    .item {
      padding: 32px 32px 33px 32px;
      background-color: $color-white;
      border-radius: 16px;
      margin-bottom: 15px;
      .icons {
        width: 40px;
        height: 40px;
        background-color: #FFF2BD;
        border-radius: 50%;
        padding: 10px;
        &.small {
          padding: 5px;
        }
        .clearFill {
          fill: transparent;
        }
        .icon {
          width: 100%;
          height: 100%;
        }
      }
      h3 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 160%;
        color: #371A45;
        padding: 15px 0 8px 0;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 162%;
        color: #59608B;
        text-align: left;
        padding: 0;
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}