/*======================================
  Buttons
======================================*/
.btn {
  @include animate($time:0.3s);
	@include inline-block($align:middle);
}

.btnBudgets {
	@include animate($time:0.3s);
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	color: #FFFFFF;
	background-color: #00B48F;
	padding: 21px 65px 21px 69px;
	margin-top: 23px;
	border-radius: 60px;
	display: inline-block;
	.icon {
		width: 13px;
		height: 15px;
		margin-right: 10px;
		fill: $color-white;
		@include inline-block($align:middle);
	}
}

@include breakpoint2($min:xl, $max:'') {}
@include breakpoint2($min:lg, $max:xl) {}
@include breakpoint2($min:md, $max:lg) {}
@include breakpoint2($min:sm, $max:md) {}
@include breakpoint2($min:xs, $max:sm) {}
@include breakpoint2($min:'', $max:xs) {}