/*======================================
  FAQ
======================================*/

.faq {
  padding-top: 97px;
  padding-bottom: 103px;
  background-color: #F9F9F9;
  span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 9px;
    color: #008CFF;
    display: block;
    text-align: center;
  }
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: #371A45;
    display: block;
    padding-bottom: 51px;
    text-align: center;
  }
  .grid {
    @include columns( $quant: 49% 49%, $gutter: 0, $align: start, $template: '');
    grid-row-gap: 0;
    grid-column-gap: 2%;
    .item {
      background: #FFFFFF;
      border: 1px solid #E0E3F9;
      border-radius: 4px;
      margin-bottom: 1.43%;
      .title {
        min-height: 90px;
        display: flex;
        align-items: center;
        padding: 10px 50px 10px 27px;
        position: relative;
        h3 {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          color: #000072;
        }
        .icon {
          @include animate($time: 0.3s);
          position: absolute;
          right: 22px;
          width: 16px;
          fill: transparent;
        }
      }
      .content {
        padding: 0px 27px 10px 27px;
        display: none;
        p {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 175%;
          color: #59608B;
          padding-bottom: 30px;
        }
      }
      &.accordionOpen {
        .title {
          .icon {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
  &.borderBottom {
    padding-bottom: 0px;
    .grid {
      padding-bottom: 103px;
      border-bottom: 1px solid #E0E0E0;
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}