/*======================================
  fullControl
======================================*/

.fullControl {
  span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 17px;
    color: #008CFF;
    display: block;
  }
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: #371A45;
    display: block;
    padding-bottom: 31px;
  }
  .grid {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 110px;
    @include columns( $quant: 45% 41%, $gutter: 14%, $align: stretch, $template: 'text image');
    .text {
      grid-area: text;
      padding-top: 92px;
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 175%;
        color: #59608B;
        padding-bottom: 17px;
      }
      .items {
        padding-top: 23px;
        @include columns( $quant: 28% 28% 28%, $gutter: 8%, $align: stretch, $template: 'text image');
        .item {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 200%;
          color: #371A45;
          padding: 16px 10px 16px 26px;
          background: #FFFFFF;
          box-shadow: 0px 30px 80px rgba(0, 0, 114, 0.15);
          border-radius: 16px;
          .icons {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #FFF6D1;
            vertical-align: middle;
            display: inline-block;
            margin-right: 5px;
            padding: 8px;
            .icon {
              width: 100%;
              height: 100%;
              fill: transparent;
            }
          }
        }
      }
      .btnBudgets {
        margin-top: 66px;
        padding: 20px 41px;
      }
    }
    .image {
      grid-area: image;
      .image {
        width: 100%;
        height: 550px;
        img {
          margin: 85px 38px 0 -19px;
        }
      }
      .box {
        margin-top: 22px;
        @include columns( $quant: 56px auto, $gutter: 23px, $align: stretch, $template: 'text image');
        .icons {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background: #85FFE6;
          margin: 0 auto;
          padding: 8px;
          .icon {
            width: 100%;
            height: 100%;
            fill: transparent;
          }
        }
        p {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 175%;
          color: #59608B;
          b,
          strong {
            font-weight: bold;
          }
        }
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}