/*======================================
  portfolio
======================================*/

.portfolioListHome {
  padding-top: 79px;
  padding-bottom: 119px;
  background-color: #F9F9F9;
  span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 9px;
    color: #008CFF;
    display: block;
  }
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: #371A45;
    display: block;
    padding-bottom: 8px;
  }
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #59608B;
    padding-bottom: 30px;
  }
  .links {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  .tag {
    background-color: #FFE000;
    display: inline-block;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000072;
    padding: 8px 22px;
    border-radius: 30px;
  }
  .seeMore {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    color: #00B48F;
    padding-right: 39px;
    position: relative;
    .icon {
      width: 17px;
      height: 19px;
      fill: transparent;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .grid {
    padding: 72px 0 0 0;
    @include columns( $quant: 32% 32% 32%, $gutter: 2%, $align: stretch, $template: '');
    .item {
      position: relative;
      -webkit-box-shadow: 0px 0px 60px 40px rgba(0, 0, 114, 0.1);
      box-shadow: 0px 0px 60px 40px rgba(0, 0, 114, 0.1);
      background: #FFFFFF;
      border-radius: 16px;
      overflow: hidden;
      border-radius: 16px;
      .image {
        width: 100%;
        height: 304px;
        background-color: #F00;
        border-radius: 16px;
      }
      .box {
        padding: 46px 20px 40px 42px;
        position: relative;
      }
      .tag {
        background-color: #85FFE6;
        display: inline-block;
        font-family: Inter;
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #000072;
        padding: 8px 22px;
        border-radius: 30px;
        position: absolute;
        top: -15px;
      }
      h3 {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 200%;
        text-transform: uppercase;
        color: #371A45;
        padding-bottom: 7px;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 143%;
        color: #59608B;
        padding: 0;
      }
    }
  }
}

.portfolio {
  padding-top: 99px;
  padding-bottom: 100px;
  background-color: #002D54;
  span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 9px;
    color: #008CFF;
    display: block;
    text-align: center;
  }
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: #FFF;
    display: block;
    padding-bottom: 8px;
    text-align: center;
  }
  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #B0BBF8;
    padding-bottom: 30px;
    text-align: center;
  }
  .links {
    text-align: center;
    a {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 175%;
      color: #FFFFFF;
      display: inline-block;
      border: 1px solid #FFF;
      border-radius: 20px;
      padding: 3px 15px;
      margin: 8px 4px;
    }
  }
  .grid {
    padding: 54px 0 86px 0;
    @include columns( $quant: 32% 32% 32%, $gutter: 2%, $align: stretch, $template: '');
    grid-row-gap: 31px;
    .item {
      position: relative;
      -webkit-box-shadow: 0px 0px 60px 40px rgba(0, 0, 114, 0.1);
      box-shadow: 0px 0px 60px 40px rgba(0, 0, 114, 0.1);
      background: #FFFFFF;
      border-radius: 16px;
      overflow: hidden;
      border-radius: 16px;
      .image {
        width: 100%;
        height: 363px;
        background-color: #F00;
        border-radius: 16px;
      }
      .box {
        padding: 31px 20px 40px 42px;
        position: relative;
      }
      span {
        text-align: left;
      }
      h3 {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 200%;
        text-transform: uppercase;
        color: #371A45;
        padding-bottom: 7px;
        text-align: left;
      }
      a {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 125%;
        color: #00B48F;
      }
    }
  }
  .seeMore {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #00B48F;
    border-radius: 30px;
    border: 2px solid #00B48F;
    display: inline-block;
    margin: 0 0;
    padding: 22px 38px 20px 73px;
    position: relative;
    .icon {
      width: 17px;
      height: 19px;
      fill: transparent;
      position: absolute;
      left: 37px;
      top: 50%;
      transform: translate(0, -50%);
      stroke: #00B48F;
    }
  }
}

.priceAndOptions {
  background-color: #002D54;
  .grid {
    padding: 139px 0 86px 0;
    @include columns( $quant: 32% 67%, $gutter: 1%, $align: stretch, $template: 'box options');
    .icons {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 auto 16px auto;
      padding: 10px;
      background-color: #FFF2BD;
      .icon {
        width: 100%;
        height: 100%;
        fill: transparent;
        stroke: #323232;
      }
    }
    h3 {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 133%;
      color: #371A45;
      width: 100%;
      text-align: center;
      padding: 0 0 15px 0;
    }
    p {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 157%;
      text-align: center;
      color: #59608B;
      padding: 0 0 0 0;
      &.small {
        font-size: 12px;
        line-height: 217%;
      }
    }
    ul {
      text-align: left;
      li {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 153%;
        color: #FFFFFF;
        display: block;
        position: relative;
        padding: 12px 21px 12px 41px;
        .before {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          position: absolute;
          top: 10px;
          left: 0;
          padding: 0 7px;
          background-color: #85FFE6;
          .icon {
            width: 100%;
            height: 100%;
            fill: transparent;
          }
        }
      }
    }
    hr {
      border: none;
      width: 87%;
      height: 1px;
      background-color: #E0E0E0;
      margin: 16px auto;
    }
    .price {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 80%;
      color: #00B48F;
      text-align: center;
      padding-bottom: 7px;
    }
    .budget {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 114%;
      color: #00B48F;
      text-align: center;
      padding-bottom: 7px;
    }
    .btnBudgets {
      margin-top: 23px;
      margin-bottom: 29px;
      padding: 17px 25px;
      margin-left: auto;
      margin-right: auto;
    }
    .box {
      grid-area: box;
      padding: 33px 50px 4px 50px;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      box-shadow: 0px 30px 80px rgba(0, 0, 114, 0.05);
      border-radius: 16px;
    }
    .options {
      grid-area: options;
      background: #01203C;
      display: flex;
      border-radius: 16px;
      align-items: center;
      ul {
        width: 48%;
        float: left;
        padding: 50px 0 40px 53px;
      }
    }
  }
}

.statistics {
  background-color: #002D54;
  span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 9px;
    color: #008CFF;
    display: block;
  }
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding-bottom: 35px;
  }
  .grid {
    padding-bottom: 105px;
    @include columns( $quant: 36% 56.5%, $gutter: 7.5%, $align: stretch, $template: 'image text');
    .text {
      grid-area: text;
      padding-top: 113px;
      .items {
        @include columns( $quant: 32% 42% 26%, $gutter: 0, $align: stretch, $template: '');
        .item {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 200%;
          color: #371A45;
          padding-left: 47px;
          b {
            font-family: Inter;
            font-style: normal;
            font-weight: 900;
            font-size: 61px;
            line-height: 125%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
          }
          p {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 153%;
            color: #FFFFFF;
          }
          &.bleft {
            border-left: 1px solid rgba(255, 255, 255, 0.2);
          }
          &.bright {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            padding-left: 0;
          }
        }
      }
    }
    .image {
      grid-area: image;
      .image {
        width: 100%;
        img {
          margin: 28px 0px 0 0px;
        }
      }
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}