/*======================================
  Sliders
======================================*/

.slideFull {
  .grid {
    @include columns( $quant: 48% 52%, $gutter: 0px, $align: stretch, $template: 'text image');
    .text {
      grid-area: text;
      padding-top: 47px;
      padding-bottom: 100px;
      .tag {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.05em;
        color: #008CFF;
        padding: 9px 25px 8px 2px;
        margin-bottom: 24px;
        position: relative;
        display: inline-block;
        b {
          background: $color-white;
          display: block;
          position: relative;
          padding: 3px 0;
        }
        span {
          padding: 0 4px;
        }
        &:before {
          content: '';
          width: 81%;
          height: 100%;
          border-radius: 20px;
          border: 1.5px solid #008CFF;
          position: absolute;
          top: 0;
          right: 0;
        }
        &.noBox {
          &:before {
            display: none;
          }
        }
      }
      h1 {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 121%;
        text-transform: uppercase;
        color: #371A45;
        margin-bottom: 17px;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 156%;
        color: #59608B;
      }
      a {
        display: block;
        clear: both;
        float: left;
      }
      .more {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 233%;
        letter-spacing: 0.2em;
        color: #59608B;
        margin: 44px 0 0 7px;
        .icon {
          width: 13px;
          height: 16px;
          margin-right: 25px;
          fill: transparent;
          vertical-align: middle;
          display: inline-block;
          stroke: #323232;
        }
      }
    }
    .image {
      grid-area: image;
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 156%;
        color: #59608B;
      }
      &.pTop {
        padding-top: 123px;
      }
    }
  }
  &.blue {
    background-color: #002D54;
    .grid {
      @include columns( $quant: 48% 52%, $gutter: 0px, $align: stretch, $template: 'text image');
      .text {
        padding-top: 27px;
        padding-bottom: 100px;
        .tag {
          color: #008CFF;
          margin-bottom: 14px;
          b {
            background: transparent;
          }
          &:before {
            display: none;
          }
        }
        h1 {
          color: #FFF;
        }
        p {
          color: #B0BBF8;
        }
      }
    }
  }
  &.textBig {
    .grid {
      @include columns( $quant: 60% 22%, $gutter: 18%, $align: stretch, $template: 'text image');
    }
  }
}

@include breakpoint2($min:xl, $max:'') {}

@include breakpoint2($min:lg, $max:xl) {}

@include breakpoint2($min:md, $max:lg) {}

@include breakpoint2($min:sm, $max:md) {}

@include breakpoint2($min:xs, $max:sm) {}

@include breakpoint2($min:'', $max:xs) {}

.createToEcommerce {
  width: 100%;
  padding: 115px 0 0 0;
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: #371A45;
    display: block;
    padding-bottom: 35px;
    text-align: center;
  }
  .tabs {
    @include columns( $quant: 20% 20% 20% 20% 20%, $gutter: 0px, $align: center, $template: '');
    a {
      display: block;
      padding: 20px 0 23px 0px;
      position: relative;
      .icons {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        display: block;
        margin: 0 auto 17px auto;
        padding: 10px;
        .icon {
          fill: none;
          width: 100%;
          height: 100%;
          stroke-width: 1.5;
          stroke: #323232;
          stroke-opacity: 0.5;
        }
      }
      span {
        display: block;
        text-align: center;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #371A45;
        opacity: 0.5;
      }
      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #D2D2D2;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:hover,
      &.act {
        .icons {
          background-color: #00B48F;
          .icon {
            stroke: #FFF;
            stroke-opacity: 1;
          }
        }
        span {
          opacity: 1;
        }
        &:after {
          background-color: #00B48F;
        }
      }
    }
  }
  .content {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 27px;
    .grid {
      @include columns( $quant: 51.3% 48.7%, $gutter: 0px, $align: center, $template: 'image text');
      .image {
        grid-area: image;
      }
      .text {
        grid-area: text;
        padding: 95px 0;
        h3 {
          font-family: Inter;
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 38px;
          text-transform: uppercase;
          color: #371A45;
          padding: 0 0 24px 0;
        }
        p {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 160%;
          color: #59608B;
          padding: 0 0 30px 0;
        }
        .btnBudgets {
          margin: 17px 0 0 0;
          padding: 21px 41px 21px 42px;
        }
      }
    }
  }
}

.paymentMethod {
  .grid {
    padding: 101px 0px 102px 0px;
    @include columns( $quant: 51.3% 48.7%, $gutter: 0px, $align: start, $template: 'text image');
    border-bottom: 1px solid #E0E0E0;
    .image {
      grid-area: image;
    }
    .text {
      grid-area: text;
      padding: 0px 6px;
      span {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: #008CFF;
        padding: 0 0 8px 0;
        display: block;
      }
      h2 {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 125%;
        text-transform: uppercase;
        color: #371A45;
        padding: 0 0 24px 0;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #59608B;
      }
      .btnBudgets {
        margin: 17px 0 0 0;
        padding: 21px 41px 21px 42px;
      }
    }
  }
}

.formRequestQuote {
  padding-bottom: 106px;
  .grid {
    padding: 0;
    @include columns( $quant: 41% 46.7%, $gutter: 12.3%, $align: stretch, $template: 'text form');
    .text {
      grid-area: text;
      padding: 99px 0 0 4px;
      span {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #008CFF;
        display: block;
        padding-bottom: 10px;
      }
      h2 {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 125%;
        text-transform: uppercase;
        color: #371A45;
        padding-bottom: 29px;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #59608B;
      }
      img {
        width: 100%;
      }
    }
    .form {
      grid-area: form;
      padding: 194px 0 0 0;
      br {
        display: none;
      }
      .row {
        padding-bottom: 8px;
        &.grid {
          @include columns( $quant: 28.5% 33% 34.5%, $gutter: 2%, $align: stretch, $template: '');
        }
      }
      input[type=text] {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E0E3F9;
        border-radius: 4px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #726977;
        padding: 15px 23px 14px 23px;
      }
      input[type=radio] {
        position: absolute;
        opacity: 0;
      }
      input[type=radio]:checked+span {
        border: 1px solid #00B48F;
      }
      textarea {
        width: 100%;
        height: 142px;
        background: #FFFFFF;
        border: 1px solid #E0E3F9;
        border-radius: 4px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #726977;
        padding: 15px 23px 14px 23px;
        resize: none;
      }
      label {
        position: relative;
        span {
          display: block;
          border: 1px solid #E0E3F9;
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          color: #726977;
          padding: 16px 5px;
          text-align: center;
        }
      }
      .btnBudgets {
        padding: 21px 41px 21px 42px;
        border: none;
      }
    }
  }
}

.listBlog {
  hr {
    border: none;
    height: 1px;
    background-color: #E7E7E7;
  }
  .grid {
    padding: 72px 0 0 0;
    @include columns( $quant: 20% 77.5%, $gutter: 2.5%, $align: stretch, $template: 'sidebar list');
    .sidebar {
      grid-area: sidebar;
      h3 {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #008CFF;
        padding-bottom: 11px;
      }
      ul {
        li {
          padding: 11px 0;
          a {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #726977;
          }
        }
      }
    }
    .content {
      grid-area: list;
      .banner {
        width: 100%;
        height: 138px;
        background-color: red;
      }
      .list {
        padding-top: 48px;
        @include columns( $quant: 31% 31% 31%, $gutter: 3.5%, $align: stretch, $template: '');
        grid-row-gap: 0;
        .item {
          position: relative;
          -webkit-box-shadow: 0px 0px 60px 40px rgba(0, 0, 114, 0.1);
          box-shadow: 0px 0px 60px 40px rgba(0, 0, 114, 0.1);
          background: #FFFFFF;
          border-radius: 16px;
          overflow: hidden;
          border-radius: 16px;
          margin-bottom: 35px;
          .image {
            width: 100%;
            height: 206px;
            background-color: #F00;
            border-radius: 16px;
          }
          .box {
            padding: 27px 20px 60px 30px;
          }
          h3 {
            font-family: Inter;
            font-style: normal;
            font-weight: 900;
            font-size: 13.6402px;
            line-height: 133%;
            text-transform: uppercase;
            color: #371A45;
            padding-bottom: 7px;
          }
          a {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 10.6091px;
            line-height: 143%;
            color: #00B48F;
            position: absolute;
            bottom: 38px;
            left: 30px;
          }
        }
      }
    }
  }
}

.contentPost {
  padding: 42px 0 0 0;
  .container.smallPost {
    max-width: 780px;
  }
  article {
    border-bottom: 1px solid #E7E7E7;
    padding: 0 0 27px 0;
    h1 {
      font-family: Inter;
      font-style: normal;
      font-weight: 900;
      font-size: 36px;
      line-height: 111%;
      text-transform: uppercase;
      color: #371A45;
      padding-bottom: 43px;
    }
    .font {
      display: flex;
      justify-content: space-between;
      padding-bottom: 23px;
      span {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #726977;
        a {
          color: #00B48F;
        }
      }
    }
    .banner {
      width: 100%;
      height: 116px;
      background-color: #E7E7E7;
      margin-bottom: 34px;
    }
    .image {
      width: 100%;
      height: 255px;
      background-color: #E7E7E7;
    }
    .share {
      border-bottom: 1px solid #E7E7E7;
      padding: 41px 0 40px 0;
      margin-bottom: 46px;
      span {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        color: #726977;
        display: inline-block;
        vertical-align: middle;
        padding-right: 26px;
      }
      ul {
        display: inline-block;
        vertical-align: middle;
        li {
          display: inline-block;
          padding-right: 11px;
        }
      }
      .icon {
        fill: #00B48F;
        width: 23px;
        height: 21px;
        &.twitter {
          width: 24px;
          height: 24px;
        }
        &.whats {
          width: 19px;
          height: 24px;
        }
      }
    }
    p {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 156%;
      color: #59608B;
      padding: 0 7px 27px 6px;
    }
    picture {
      width: 100%;
      text-align: center;
      padding: 53px 0 80px 0;
      display: block;
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
  .authorPost {
    @include columns( $quant: 146px auto, $gutter: 0px, $align: start, $template: '');
    padding: 53px 0 0 6px;
    .avatar {
      width: 146px;
      height: 146px;
      display: block;
      background-color: #E7E7E7;
      border-radius: 50%;
    }
    .text {
      padding: 0 0 0 24px;
      h3 {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 114%;
        text-transform: uppercase;
        color: #371A45;
        padding-bottom: 16px;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 175%;
        color: #59608B;
      }
    }
  }
}

.slide-grafics {
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 313px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #002D54;
  }
  .container-small {
    margin: -48px auto 0 auto;
    width: 914px;
    height: 399px;
    background-color: $color-white;
    border-radius: 16px;
    position: relative;
    .box-slide {
      padding: 33px;
    }
    .prev {
      width: 30px;
      height: 30px;
      background-color: #00B48F;
      border-radius: 50%;
      position: absolute;
      top: 150px;
      left: -100px;
      padding: 7px;
      .icon {
        width: 100%;
        height: 100%;
        fill: transparent;
        stroke: $color-white;
        transform: rotate(90deg);
      }
    }
    .next {
      width: 30px;
      height: 30px;
      background-color: #00B48F;
      border-radius: 50%;
      position: absolute;
      top: 150px;
      right: -100px;
      padding: 7px;
      .icon {
        width: 100%;
        height: 100%;
        fill: transparent;
        stroke: $color-white;
        transform: rotate(-90deg);
      }
    }
  }
  .box-dots {
    padding: 58px 0 0 0;
    position: relative;
    .slick-dots {
      text-align: center;
      li {
        display: inline-block;
        padding: 0 4px;
        button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          font-size: 0;
          display: block;
          padding: 0;
          background: #D2D2D2;
          border: none;
        }
        &.slick-active button {
          background: #00B48F;
        }
      }
    }
  }
}