/*======================================
  portfolio
======================================*/

@keyframes bounceXseeMore {
  0% {
    transform: translate(0px, -50%);
  }
  5% {
    transform: translate(5px, -50%);
  }
  10% {
    transform: translate(0px, -50%);
  }
  15% {
    transform: translate(5px, -50%);
  }
  20% {
    transform: translate(0px, -50%);
  }
}

.item-port {
  position: relative;
  -webkit-box-shadow: 0px 0px 60px 20px rgba(0, 0, 114, 0.1);
  box-shadow: 0px 0px 60px 20px rgba(0, 0, 114, 0.1);
  overflow: hidden;
  border-radius: 16px;
  .image {
    width: 100%;
    height: 234px;
    position: relative;
    @include animate($time: 0.3s);
    display: flex;
    align-items: center;
    overflow: hidden;
    &:before {
      content: '';
      width: 100%;
      height: 50px;
      background-color: $color-white;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      overflow: hidden;
      border-radius: 0 0 16px 16px;
    }
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
    }
  }
  &>.relative {
    background: $color-white;
    border-radius: 0 0 16px 16px;
    height: 100%;
  }
  .tag {
    background-color: #85FFE6;
    display: inline-block;
    font-family: $font-main;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000072 !important;
    padding: 8px 22px;
    border-radius: 30px;
    position: absolute;
    top: -15px;
    left: 35px;
    opacity: 1;
    visibility: visible;
  }
  .box {
    padding: 31px 20px 20px 35px;
    position: relative;
    @include animate($time: 0.3s);
    display: block;
    span {
      text-align: left;
    }
    h3 {
      font-family: $font-main;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: $color-navy;
      padding-bottom: 7px;
      text-align: left;
    }
    p {
      font-family: $font-main;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: left;
      padding: 0;
      color: #59608B;
    }
    .link {
      font-family: $font-main;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 125%;
      color: $color-green;
      margin-top: 0px;
      display: inline-block;
      opacity: 0;
      visibility: hidden;
      @include animate($time: 0.3s);
    }
  }
  &:hover {
    .image {
      height: 200px;
    }
    .box {
      padding: 31px 20px 35px 42px;
      .link {
        margin-top: 20px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  .item-port {
    -webkit-box-shadow: 0 0 get-vw-lg(60px) get-vw-lg(20px) rgba(0, 0, 114, 0.1);
    box-shadow: 0 0 get-vw-lg(60px) get-vw-lg(20px) rgba(0, 0, 114, 0.1);
    border-radius: get-vw-lg(16px);
    border-radius: get-vw-lg(16px);
    .image {
      height: get-vw-lg(304px);
      // border-radius: get-vw-lg(16px) get-vw-lg(16px);
      &:before {
        height: get-vw-lg(50px);
      }
      a {
        border-radius: 0 0 get-vw-lg(16px) get-vw-lg(16px);
      }
      img {
        border-radius: get-vw-lg(16px) get-vw-lg(16px) 0 0;
      }
    }
    .tag {
      font-size: get-vw-lg(12px);
      padding: get-vw-lg(8px) get-vw-lg(22px);
      border-radius: get-vw-lg(30px);
      top: get-vw-lg(-15px);
      left: get-vw-lg(35px);
    }
    .box {
      padding: get-vw-lg(31px) get-vw-lg(20px) get-vw-lg(20px) get-vw-lg(35px);
      h3 {
        font-size: get-vw-lg(20px);
        padding-bottom: get-vw-lg(7px);
      }
      p {
        font-size: get-vw-lg(14px);
      }
      .link {
        font-size: get-vw-lg(16px);
      }
    }
    &:hover {
      .image {
        height: get-vw-lg(269px);
      }
      .box {
        padding: get-vw-lg(31px) get-vw-lg(20px) get-vw-lg(35px) get-vw-lg(42px);
        .link {
          margin-top: get-vw-lg(20px);
        }
      }
    }
  }
}

@include breakpoint2($min:xs, $max:sm) {
  .item-port {
    -webkit-box-shadow: 0 0 get-vw-sm(60px) get-vw-sm(20px) rgba(0, 0, 114, 0.1);
    box-shadow: 0 0 get-vw-sm(60px) get-vw-sm(20px) rgba(0, 0, 114, 0.1);
    border-radius: get-vw-sm(16px);
    border-radius: get-vw-sm(16px);
    .image {
      height: get-vw-sm(304px);
      // border-radius: get-vw-sm(16px) get-vw-sm(16px);
      &:before {
        height: get-vw-sm(50px);
      }
      a {
        border-radius: 0 0 get-vw-sm(16px) get-vw-sm(16px);
      }
      img {
        border-radius: get-vw-sm(16px) get-vw-sm(16px) 0 0;
      }
    }
    .tag {
      // font-size: get-vw-sm(12px);
      padding: get-vw-sm(8px) get-vw-sm(22px);
      border-radius: get-vw-sm(30px);
      top: get-vw-sm(-15px);
      left: get-vw-sm(42px);
    }
    .box {
      padding: get-vw-sm(31px) get-vw-sm(20px) get-vw-sm(20px) get-vw-sm(42px);
      h3 {
        // font-size: get-vw-sm(20px);
        padding-bottom: get-vw-sm(7px);
      }
      p {
        // font-size: get-vw-sm(14px);
      }
      .link {
        // font-size: get-vw-sm(16px);
      }
    }
    &:hover {
      .image {
        height: get-vw-sm(269px);
      }
      .box {
        padding: get-vw-sm(31px) get-vw-sm(20px) get-vw-sm(35px) get-vw-sm(42px);
        .link {
          margin-top: get-vw-sm(20px);
        }
      }
    }
  }
}

@include breakpoint2($min:'', $max:xs) {
  .item-port {
    -webkit-box-shadow: 0 0 get-vw-xs(60px) get-vw-xs(20px) rgba(0, 0, 114, 0.1);
    box-shadow: 0 0 get-vw-xs(60px) get-vw-xs(20px) rgba(0, 0, 114, 0.1);
    border-radius: get-vw-xs(16px);
    border-radius: get-vw-xs(16px);
    .image {
      height: get-vw-xs(304px);
      // border-radius: get-vw-xs(16px) get-vw-xs(16px);
      &:before {
        height: get-vw-xs(50px);
      }
      a {
        border-radius: 0 0 get-vw-xs(16px) get-vw-xs(16px);
      }
      img {
        border-radius: get-vw-xs(16px) get-vw-xs(16px) 0 0;
      }
    }
    .tag {
      // font-size: get-vw-xs(12px);
      padding: get-vw-xs(8px) get-vw-xs(22px);
      border-radius: get-vw-xs(30px);
      top: get-vw-xs(-15px);
      left: get-vw-xs(42px);
    }
    .box {
      padding: get-vw-xs(31px) get-vw-xs(20px) get-vw-xs(20px) get-vw-xs(42px);
      h3 {
        // font-size: get-vw-xs(20px);
        padding-bottom: get-vw-xs(7px);
      }
      p {
        // font-size: get-vw-xs(14px);
      }
      .link {
        // font-size: get-vw-xs(16px);
      }
    }
    &:hover {
      .image {
        height: get-vw-xs(269px);
      }
      .box {
        padding: get-vw-xs(31px) get-vw-xs(20px) get-vw-xs(35px) get-vw-xs(42px);
        .link {
          margin-top: get-vw-xs(20px);
        }
      }
    }
  }
}

.portfolioListHome {
  padding-top: 119px;
  padding-bottom: 86px;
  background-color: #002D54;
  span,
  .subtitle {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 9px;
    color: #008CFF;
    display: block;
  }
  h2 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: $color-white;
    display: block;
    padding-bottom: 21px;
  }
  p {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #59608B;
    padding-bottom: 30px;
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    //flex-direction: column;
    align-items: center;
    .item:last-child {
      padding: 0 27px 6px 0;
    }
  }
  .tag {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #8DD7FF;
  }
  .seeMore {
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    color: $color-green;
    padding-right: 31px;
    position: relative;
    .icon {
      width: 17px;
      height: 19px;
      fill: transparent;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:hover .icon {
      animation: bounceXseeMore 3000ms infinite linear;
    }
  }
  .featured {
    width: 100%;
    height: 470px;
    position: relative;
    overflow: hidden;
    &>div {
      width: 100%;
    }
    &:before {
      content: '';
      width: 100%;
      height: 329px;
      position: absolute;
      bottom: 0;
      background: linear-gradient(90deg, rgba(215, 238, 253, 0.1) -27.35%, rgba(215, 238, 253, 0) 156.27%);
      border-radius: 24px;
    }
    .grid-featured {
      padding: 49px 0 0 0;
      @include columns( $quant: 361px 769px, $gutter: 0, $align: top, $template: '');
      .item {
        &:first-child {
          padding: 130px 0 75px 66px;
        }
        img {
          width: 100%;
          height: auto;
        }
        .rate {
          display: flex;
          padding: 0 0 17px 0;
          margin: 0 0 0 -2px;
          gap: 5px;
          .icon {
            width: 22.69px;
            height: 22.69px;
            fill: #FFE000;
          }
        }
        h3 {
          font-family: $font-main;
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 167%;
          text-transform: uppercase;
          color: $color-white;
          padding: 0 0 3px 0;
        }
        p {
          font-family: $font-main;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.05em;
          color: #D7EEFD;
          padding: 0 0 24px 0;
        }
        a {
          @include animate($time: 0.3s);
          font-family: $font-main;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.05em;
          color: #85FFE6;
          border: 2px solid #85FFE6;
          border-radius: 30px;
          padding: 10px 18px;
          display: inline-block;
          &:hover {
            background-color: #85FFE6;
            color: #002D54;
          }
        }
      }
    }
    .pagSlide {
      position: absolute;
      bottom: 33px;
      left: 63px;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 7px;
      .pagingInfo {
        font-family: $font-main;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 143%;
        color: $color-white;
        display: block;
        text-align: center;
      }
      .slick-arrow {
        width: 28px;
        height: 40px;
        background: transparent;
        border: none;
        .icon {
          fill: transparent;
          width: 100%;
          height: 100%;
        }
        &.slick-prev {
          left: 0;
          .icon {
            transform: rotate(180deg);
          }
          &:hover .icon {
            animation: bounceXprev 3000ms infinite linear;
          }
        }
        &.slick-next {
          right: 0;
          &:hover .icon {
            animation: bounceXnext 3000ms infinite linear;
          }
        }
      }
    }
  }
  .grid {
    padding: 66px 0 0 0;
    @include columns( $quant: 32% 32% 32%, $gutter: 2%, $align: stretch, $template: '');
  }
  .center {
    text-align: center;
  }
  .btnBudgets {
    margin-top: 67px;
  }
}

@include breakpoint2($min:sm, $max:lg) {
  .portfolioListHome {
    padding-top: get-vw-lg(119px);
    padding-bottom: get-vw-lg(86px);
    span,
    .subtitle {
      font-size: get-vw-lg(13px);
      padding-bottom: get-vw-lg(9px);
    }
    h2 {
      font-size: get-vw-lg(32px);
      padding-bottom: get-vw-lg(21px);
    }
    p {
      font-size: get-vw-lg(16px);
      padding-bottom: get-vw-lg(30px);
    }
    .title {
      .item:last-child {
        padding: 0 get-vw-lg(27px) get-vw-lg(6px) 0;
      }
    }
    .tag {
      font-size: get-vw-lg(14px);
    }
    .seeMore {
      font-size: get-vw-lg(14px);
      padding-right: get-vw-lg(31px);
      .icon {
        width: get-vw-lg(17px);
        height: get-vw-lg(19px);
      }
    }
    .featured {
      height: get-vw-lg(470px);
      &:before {
        height: get-vw-lg(329px);
        border-radius: get-vw-lg(24px);
      }
      .grid-featured {
        padding: get-vw-lg(49px) 0 0 0;
        @include columns( $quant: get-vw-lg(361px) get-vw-lg(769px), $gutter: 0, $align: top, $template: '');
        .item {
          &:first-child {
            padding: get-vw-lg(130px) 0 get-vw-lg(75px) get-vw-lg(66px);
          }
          .rate {
            padding: 0 0 get-vw-lg(17px) 0;
            margin: 0 0 0 get-vw-lg(-2px);
            gap: 5px;
            .icon {
              width: get-vw-lg(22.69px);
              height: get-vw-lg(22.69px);
            }
          }
          h3 {
            font-size: get-vw-lg(24px);
            padding: 0 0 get-vw-lg(3px) 0;
          }
          p {
            font-size: get-vw-lg(13px);
            line-height: get-vw-lg(16px);
            padding: 0 0 get-vw-lg(24px) 0;
          }
          a {
            font-size: get-vw-lg(12px);
            line-height: get-vw-lg(15px);
            border: get-vw-lg(2px) solid #85FFE6;
            border-radius: get-vw-lg(30px);
            padding: get-vw-lg(10px) get-vw-lg(18px);
          }
        }
      }
      .pagSlide {
        bottom: get-vw-lg(33px);
        left: get-vw-lg(63px);
        gap: get-vw-lg(7px);
        .pagingInfo {
          font-size: get-vw-lg(14px);
        }
        .slick-arrow {
          width: get-vw-lg(28px);
          height: get-vw-lg(40px);
        }
      }
    }
    .grid {
      padding: get-vw-lg(66px) 0 0 0;
      @include columns( $quant: 32% 32% 32%, $gutter: 2%, $align: stretch, $template: '');
    }
    .btnBudgets {
      margin-top: get-vw-lg(67px);
    }
  }
}

@include breakpoint2($min:xs, $max:sm) {
  .portfolioListHome {
    padding-top: get-vw-sm(119px);
    padding-bottom: get-vw-sm(86px);
    span,
    .subtitle {
      // font-size: get-vw-sm(13px);
      padding-bottom: get-vw-sm(9px);
    }
    h2 {
      // font-size: get-vw-sm(32px);
      padding-bottom: get-vw-sm(21px);
    }
    p {
      // font-size: get-vw-sm(16px);
      padding-bottom: get-vw-sm(30px);
    }
    .title {
      flex-direction: column;
      align-items: start;
      gap: get-vw-sm(27px);
      .item:last-child {
        padding: 0 get-vw-sm(27px) get-vw-sm(6px) 0;
      }
    }
    .tag {
      // font-size: get-vw-sm(14px);
    }
    .seeMore {
      // font-size: get-vw-sm(14px);
      padding-right: get-vw-sm(31px);
      .icon {
        // width: get-vw-sm(17px);
        // height: get-vw-sm(19px);
      }
    }
    .featured {
      height: auto;
      margin-top: get-vw-sm(27px);
      &:before {
        height: 100%;
        border-radius: get-vw-sm(24px);
      }
      .grid-featured {
        padding: get-vw-sm(49px) 0 0 0;
        @include columns( $quant: 100%, $gutter: 0, $align: top, $template: 'img' 'txt');
        .item {
          &:first-child {
            padding: get-vw-sm(50px) 0 get-vw-sm(100px) get-vw-sm(66px);
            grid-area: txt;
          }
          &:last-child {
            //display: none;
            grid-area: img;
            padding: 0 get-vw-sm(17px);
          }
          .rate {
            padding: 0 0 get-vw-sm(17px) 0;
            margin: 0 0 0 get-vw-sm(-2px);
            gap: 5px;
            .icon {
              // width: get-vw-sm(22.69px);
              // height: get-vw-sm(22.69px);
            }
          }
          h3 {
            // font-size: get-vw-sm(24px);
            padding: 0 0 get-vw-sm(3px) 0;
          }
          p {
            // font-size: get-vw-sm(13px);
            // line-height: get-vw-sm(16px);
            padding: 0 0 get-vw-sm(24px) 0;
          }
          a {
            // font-size: get-vw-sm(12px);
            // line-height: get-vw-sm(15px);
            border: get-vw-sm(2px) solid #85FFE6;
            border-radius: get-vw-sm(30px);
            padding: get-vw-sm(10px) get-vw-sm(18px);
          }
        }
      }
      .pagSlide {
        bottom: get-vw-sm(33px);
        left: get-vw-sm(63px);
        gap: get-vw-sm(7px);
        .pagingInfo {
          // font-size: get-vw-sm(14px);
        }
        .slick-arrow {
          //width: get-vw-sm(28px);
          //height: get-vw-sm(40px);
        }
      }
    }
    .grid {
      padding: get-vw-sm(66px) 0 0 0;
      @include columns( $quant: 49% 49%, $gutter: 2%, $align: stretch, $template: '');
      .item-port {
        &:last-child {
          display: none;
        }
      }
    }
    .btnBudgets {
      margin-top: get-vw-sm(67px);
    }
  }
}

@include breakpoint2($min:'', $max:xs) {
  .portfolioListHome {
    padding-top: get-vw-xs(119px);
    padding-bottom: get-vw-xs(86px);
    span,
    .subtitle {
      // font-size: get-vw-xs(13px);
      padding-bottom: get-vw-xs(9px);
    }
    h2 {
      // font-size: get-vw-xs(32px);
      padding-bottom: get-vw-xs(21px);
    }
    p {
      // font-size: get-vw-xs(16px);
      padding-bottom: get-vw-xs(30px);
    }
    .title {
      flex-direction: column;
      align-items: start;
      gap: get-vw-xs(27px);
      .item:last-child {
        padding: 0 get-vw-xs(27px) get-vw-xs(6px) 0;
      }
    }
    .tag {
      // font-size: get-vw-xs(14px);
    }
    .seeMore {
      // font-size: get-vw-xs(14px);
      padding-right: get-vw-xs(31px);
      .icon {
        // width: get-vw-xs(17px);
        // height: get-vw-xs(19px);
      }
    }
    .featured {
      height: auto;
      margin-top: get-vw-xs(27px);
      &:before {
        height: 100%;
        border-radius: get-vw-xs(24px);
      }
      .grid-featured {
        padding: get-vw-xs(49px) 0 0 0;
        @include columns( $quant: 100%, $gutter: 0, $align: top, $template: 'img' 'txt');
        .item {
          &:first-child {
            padding: get-vw-xs(50px) 0 get-vw-xs(100px) get-vw-xs(66px);
            grid-area: txt;
          }
          &:last-child {
            //display: none;
            grid-area: img;
            padding: 0 get-vw-xs(17px);
          }
          .rate {
            padding: 0 0 get-vw-xs(17px) 0;
            margin: 0 0 0 get-vw-xs(-2px);
            gap: 5px;
            .icon {
              // width: get-vw-xs(22.69px);
              // height: get-vw-xs(22.69px);
            }
          }
          h3 {
            // font-size: get-vw-xs(24px);
            padding: 0 0 get-vw-xs(3px) 0;
          }
          p {
            // font-size: get-vw-xs(13px);
            // line-height: get-vw-xs(16px);
            padding: 0 0 get-vw-xs(24px) 0;
          }
          a {
            // font-size: get-vw-xs(12px);
            // line-height: get-vw-xs(15px);
            border: get-vw-xs(2px) solid #85FFE6;
            border-radius: get-vw-xs(30px);
            padding: get-vw-xs(10px) get-vw-xs(18px);
          }
        }
      }
      .pagSlide {
        bottom: get-vw-xs(33px);
        left: get-vw-xs(63px);
        gap: get-vw-xs(7px);
        .pagingInfo {
          // font-size: get-vw-xs(14px);
        }
        .slick-arrow {
          // width: get-vw-xs(28px);
          // height: get-vw-xs(40px);
        }
      }
    }
    .grid {
      padding: get-vw-xs(66px) 0 0 0;
      @include columns( $quant: 100%, $gutter: 2%, $align: stretch, $template: '');
    }
    .btnBudgets {
      margin-top: get-vw-xs(67px);
    }
  }
}

.portfolio {
  padding-bottom: 100px;
  background-color: #002D54;
  &>.container {
    padding-top: 100px;
  }
  span,
  .subtitle {
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0.05em;
    padding-bottom: 9px;
    color: #008CFF;
    display: block;
    text-align: center;
  }
  .title,
  h2 {
    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 119%;
    text-transform: uppercase;
    color: $color-white;
    display: block;
    padding-bottom: 8px;
    text-align: center;
  }
  p {
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    color: #B0BBF8;
    padding-bottom: 30px;
    text-align: center;
  }
  .links {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    a {
      @include animate($time: 0.3s);
      font-family: $font-main;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 175%;
      color: $color-white;
      display: inline-block;
      border: 2px solid $color-white;
      border-radius: 20px;
      padding: 3px 15px;
      margin: 8px 4px;
      vertical-align: middle;
      &.star {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        .icon {
          fill: transparent;
          stroke: #FFD527;
          width: 24px;
          height: 24px;
        }
      }
      &:hover,
      &.act {
        background-color: $color-green;
        border-color: $color-green;
      }
    }
  }
  .grid {
    padding: 54px 0 86px 0;
    @include columns( $quant: 32% 32% 32%, $gutter: 2%, $align: stretch, $template: '');
    grid-row-gap: 31px;
  }
  .seeMore {
    @include animate($time: 0.3s);
    font-family: $font-main;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: $color-green;
    border-radius: 30px;
    border: 2px solid $color-green;
    display: inline-block;
    margin: 0 0;
    padding: 22px 38px 20px 73px;
    position: relative;
    .icon {
      @include animate($time: 0.3s);
      width: 17px;
      height: 19px;
      fill: transparent;
      position: absolute;
      left: 37px;
      top: 50%;
      transform: translate(0, -50%);
      stroke: $color-green;
    }
    &:hover {
      color: $color-white;
      background: $color-green;
      .icon {
        stroke: $color-white;
      }
    }
  }
}

@include breakpoint2($min:sm, $max:lg) {
  .portfolio {
    padding-bottom: get-vw-lg(100px);
    &>.container {
      padding-top: get-vw-lg(100px);
    }
    span,
    .subtitle {
      font-size: get-vw-lg(13px);
      padding-bottom: get-vw-lg(9px);
    }
    .title,
    h2 {
      font-size: get-vw-lg(32px);
      padding-bottom: get-vw-lg(8px);
    }
    p {
      font-size: get-vw-lg(16px);
      padding-bottom: get-vw-lg(30px);
    }
    .links {
      a {
        font-size: get-vw-lg(16px);
        border-radius: get-vw-lg(20px);
        padding: get-vw-lg(3px) get-vw-lg(15px);
        margin: get-vw-lg(8px) get-vw-lg(4px);
      }
    }
    .grid {
      padding: get-vw-lg(54px) 0 get-vw-lg(86px) 0;
      grid-row-gap: get-vw-lg(31px);
    }
    .seeMore {
      font-size: get-vw-lg(18px);
      border-radius: get-vw-lg(30px);
      border: get-vw-lg(2px) solid $color-green;
      padding: get-vw-lg(22px) get-vw-lg(38px) get-vw-lg(20px) get-vw-lg(73px);
      .icon {
        width: get-vw-lg(17px);
        height: get-vw-lg(19px);
        left: get-vw-lg(37px);
      }
    }
  }
}

@include breakpoint2($min:xs, $max:sm) {
  .portfolio {
    padding-bottom: get-vw-sm(100px);
    &>.container {
      padding-top: get-vw-sm(100px);
    }
    span,
    .subtitle {
      // font-size: get-vw-sm(13px);
      padding-bottom: get-vw-sm(9px);
    }
    .title,
    h2 {
      // font-size: get-vw-sm(32px);
      padding-bottom: get-vw-sm(8px);
    }
    p {
      // font-size: get-vw-sm(16px);
      padding-bottom: get-vw-sm(30px);
    }
    .links {
      a {
        // font-size: get-vw-sm(16px);
        border-radius: get-vw-sm(20px);
        padding: get-vw-sm(3px) get-vw-sm(15px);
        margin: get-vw-sm(8px) get-vw-sm(4px);
      }
    }
    .grid {
      padding: get-vw-sm(54px) 0 get-vw-sm(86px) 0;
      @include columns( $quant: 49% 49%, $gutter: 2%, $align: stretch, $template: '');
      grid-row-gap: get-vw-sm(31px);
    }
    .seeMore {
      // font-size: get-vw-sm(18px);
      border-radius: get-vw-sm(30px);
      border: get-vw-sm(2px) solid $color-green;
      padding: get-vw-sm(22px) get-vw-sm(38px) get-vw-sm(20px) get-vw-sm(73px);
      .icon {
        // width: get-vw-sm(17px);
        // height: get-vw-sm(19px);
        left: get-vw-sm(37px);
      }
    }
  }
}

@include breakpoint2($min:'', $max:xs) {
  .portfolio {
    padding-bottom: get-vw-xs(100px);
    &>.container {
      padding-top: get-vw-xs(100px);
    }
    span,
    .subtitle {
      // font-size: get-vw-xs(13px);
      padding-bottom: get-vw-xs(9px);
    }
    .title,
    h2 {
      // font-size: get-vw-xs(32px);
      padding-bottom: get-vw-xs(8px);
    }
    p {
      // font-size: get-vw-xs(16px);
      padding-bottom: get-vw-xs(30px);
    }
    .links {
      a {
        // font-size: get-vw-xs(16px);
        border-radius: get-vw-xs(20px);
        padding: get-vw-xs(3px) get-vw-xs(15px);
        margin: get-vw-xs(8px) get-vw-xs(4px);
      }
    }
    .grid {
      padding: get-vw-xs(54px) 0 get-vw-xs(86px) 0;
      @include columns( $quant: 100%, $gutter: 0, $align: stretch, $template: '');
      grid-row-gap: get-vw-xs(31px);
    }
    .seeMore {
      // font-size: get-vw-xs(18px);
      border-radius: get-vw-xs(30px);
      border: get-vw-xs(2px) solid $color-green;
      padding: get-vw-xs(22px) get-vw-xs(38px) get-vw-xs(20px) get-vw-xs(73px);
      .icon {
        // width: get-vw-xs(17px);
        // height: get-vw-xs(19px);
        left: get-vw-xs(37px);
      }
    }
  }
}